* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    font-family: verdana;
}
.header p {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #05b47a;
    font-size: 20px;
}
.datepicker-table {
    overflow: hidden;
    text-align: center;
    font-size: 14px;
    color: #333;
    width: 100%;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 20px;
}
.datepicker-table .datepicker-header {
    height: 40px;
    line-height: 40px;
}
.datepicker-table span {
    float: left;
    height: 30px;
    line-height: 30px;
    width: 14.28%;
    border: 1px solid transparent;
}
.datepicker-table span i {
    font-family: verdana;
    display: block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    margin: 3px auto 0 auto;
}
.datepicker-table .dp-th {
    font-weight: bold;
    background-color: #f1f1f1;
}
.datepicker-table .is-today i {
    background-color: #eb4747;
    color: #fff;
}
.datepicker-table .is-weekend {
    color: #eb4747;
}
.datepicker-table .is-outdate {
    color: #ddd;
}
.datepicker-table .selected {
    background-color: #eee;
    /*border: 1px solid #eb4747;*/
}
